.hero{
    // height: 30rem;
    position: relative;
    top:-6px
}
.img{
    height:40rem;
    
}
.txt{
    position: absolute;
    top:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    color: white;
    font-size: 10rem;
    padding-left: 4rem;
}